@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  font-size: 11px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
body {
  background-image: url("../public/images/backg.jpg");
}
a {
  text-decoration: none;
  color: black;
}
.more-link {
  display: none;
}
span {
  margin: 0.5rem;
}
nav > a {
  margin: 0rem 0.5rem;
  padding-right: 0.3rem;
  border-right: 1px solid black;
}
.img {
  height: 100px;
  width: 150px;
}
.flex-parent {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2rem 3rem;
  border-radius: 3px;
}
.cards {
  max-width: 250px;
  max-height: 400px;
  background-color: rgba(240, 227, 227, 0.774);
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 3px;
}
.cards:hover {
  background-color: #ecdb907e;
}
.button {
  background-color: rgb(187, 185, 58);
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  align-items: flex-end;
}
.button:hover {
  background-color: rgb(67, 175, 144);
}
.button > a {
  color: black;
}
.card-category{
  width: 2000px;
  background-color: rgba(240, 227, 227, 0.774);
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 3px;
}
.card-category:hover {
  background-color: #ecdb907e;
}
.button-category {
  background-color: rgb(187, 185, 58);
  border-radius: 3px;
  border: none;
  padding: 2rem;
  font-weight: bold;
}
.button-category:hover {
  background-color: rgb(67, 175, 144);
}
.detail {
  color: rgb(37, 38, 39);
  background-color: #f1e4a87e;
  font-size: 15px;
}
.detail:hover {
  background-color: #ecdb907e;
}
.txt-detail:hover {
  text-shadow: -5px -5px #7a6f5a7e;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f10c;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.089);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.308);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.preview {
  margin: 0.5rem 0rem;
}
.shadow:hover {
  box-shadow: 0px 0px 25px 0px #0000007e !important;
}
.category {
  font-size: 16px;
  padding: 40px;
}
.category:hover {
  color: rgba(235, 68, 27, 0.842);
  text-shadow: -5px -5px #7a6f5a7e;
}
footer {
  padding: 1.5rem 0rem;
  margin-top: 1.5rem;
  border-top: 1px solid black;
  text-align: center;
}
address {
  text-align: center;
  font-size: 0.9rem;
}
address > div {
  cursor: pointer;
}
.logo {
  height: 110px;
}
.social {
  font-size: 2rem;
}
.logoHome {
  height: 100px;
  margin-top: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.copyright {
  padding-top: 1.7rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.article {
  background-image: url("https://www.japanhousela.com/sites/japanhouse.com.losangeles/files/2021-04/Spring_Zoom_Backgroung.gif");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.txt-article {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  text-shadow: -3px -3px #7a6f5a7e;
}
.logoAuthor{
  height: 300px;
}
#modal {
  background-image: url("https://img.freepik.com/free-vector/programming-code-made-with-binary-code-coding-hacker-background-digital-binary-data-streaming-digital-code_127544-778.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(218, 199, 139);
  text-shadow: -1px -1px #5f56467e;
  font-size: 20px;
}